---
import '../styles/fonts.css';
import '../styles/typography.css';
import '../styles/global.css';
import { WEB_BASE } from '@amnesty-people/constants';
const og = new URL('/og.jpg',WEB_BASE).href
---

<html lang="th-TH">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>ลงชื่อเสนอ ร่าง พ.ร.บ. นิรโทษกรรมประชาชน</title>
		<meta
			name="description"
			content="ยุติทุกคดี ทุกข้อหา ต่อประชาชน ที่เกิดจากความขัดแย้งทางการเมือง"
		/>

		<meta property="og:url" content={WEB_BASE.href} />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="ลงชื่อเสนอ ร่าง พ.ร.บ. นิรโทษกรรมประชาชน"
		/>
		<meta
			property="og:description"
			content="ยุติทุกคดี ทุกข้อหา ต่อประชาชน ที่เกิดจากความขัดแย้งทางการเมือง"
		/>
		<meta property="og:image" content={og} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={WEB_BASE.host} />
		<meta property="twitter:url" content={WEB_BASE.href} />
		<meta
			name="twitter:title"
			content="ลงชื่อเสนอ ร่าง พ.ร.บ. นิรโทษกรรมประชาชน"
		/>
		<meta
			name="twitter:description"
			content="ยุติทุกคดี ทุกข้อหา ต่อประชาชน ที่เกิดจากความขัดแย้งทางการเมือง"
		/>
		<meta name="twitter:image" content={og} />

		<meta name="generator" content={Astro.generator} />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1d478d" />
		<meta name="msapplication-TileColor" content="#1d478d" />
		<meta name="theme-color" content="#ffffff" />

		<script
			type="text/partytown"
			defer
			data-domain={WEB_BASE.host}
			src="https://analytics.punchup.world/js/plausible.js"></script>
	</head>

	<body>
		<main class="body-03-normal">
			<slot />
		</main>
	</body>
</html>
